/*~---------------------------------------------------------------------------*/
/*                        _      _                 _   _                      */
/*                    ___| |_ __| |_ __ ___   __ _| |_| |_                    */
/*                   / __| __/ _` | '_ ` _ \ / _` | __| __|                   */
/*                   \__ \ || (_| | | | | | | (_| | |_| |_                    */
/*                   |___/\__\__,_|_| |_| |_|\__,_|\__|\__|                   */
/*                                                                            */
/*  File      : main.css                                                      */
/*  Project   : color_grid                                                    */
/*  Date      : Mar 13, 2020                                                  */
/*  License   : GPLv3                                                         */
/*  Author    : stdmatt <stdmatt@pixelwizards.io>                             */
/*  Copyright : stdmatt 2020                                                  */
/*                                                                            */
/*  Description :                                                             */
/*                                                                            */
/*---------------------------------------------------------------------------~*/


img.center
 {
  display       : block;
  margin-left   : auto;
  margin-right  : auto;
  margin-top    : 20px;
  margin-bottom : 20px;
}

#canvas_div
{
    position:fixed;
    top   : 15%;
    bottom: 10%;
    right : 35%;
    left  : 35%;

    /* box-shadow:2px 2px 8px 0px #EFE9D3; */
    text-align: center;
}

body {
  background-color: #FEF7E1;
}